.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

public/files
public/assets/stylesheets/font-face.css
public/node_modules
application/config/config.php
application/config/database.php
application/config/constants.php
application/config/s3.php
application/config/ftp.php
application/config/layout.php
application/config/deploy.rb
application/config/humake-fitness.json

composer.lock
#Gemfile.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
application/vendor/
.phpunit.result.cache

.env
phpinfo.php

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
